<h2>使い方</h2>
<p>
  特定のフォーマットのファイルをアップロードすると、グラフ画像を返すサービス。
</p>
<hr />
<h3>対応フォーマット</h3>
<ul id="format-list">
  <li class="format"><span class="format_type">sar -u (solaris)</span>: Solarisのsar -uで出力されるテキスト</li>
  <li class="format"><span class="format_type">sar -q (solaris)</span>: Solarisのsar -qで出力されるテキスト</li>
  <li class="format"><span class="format_type">sar -w (solaris)</span>: Solarisのsar -uで出力されるテキスト</li>
  <li class="format"><span class="format_type">sar -r (solaris)</span>: Solarisのsar -rで出力されるテキスト</li>
  <li class="format"><span class="format_type">sar -a (solaris)</span>: Solarisのsar -aで出力されるテキスト</li>
  <li class="format"><span class="format_type">nicstat (solaris)</span>: Solarisのnicstat(.pl)で出力されるテキスト</li>
  <li class="format"><span class="format_type">vmstat (solaris)</span>: Solarisのvmstatで出力されるテキスト (一番左のカラムに取得時刻の追加が必要)</li>
  <li class="format"><span class="format_type">iostat (solaris)</span>: Solarisのiostat -xnpで出力されるテキスト (一番左のカラムに取得時刻の追加が必要)</li>
</ul>
<p>現在はSolarisのみの対応。</p>
<a href="/">戻る</a>
